.record-numbers {
  color: #7367f0;
  /* Heading/Heading H1 */
  font-size: 2rem;
  font-family: Montserrat;
  font-weight: 500;
}

.link-style {
  color: #b9b9c3;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.3125rem;
}

.toolbar-style {
  position: absolute;
  top: 0;
  background-color: #7367f0;
}
